QuarryServer/LB.Web.Remoting/Web References/WebSerivce/WeightService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CallSP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iSPType" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="dtInput">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CallSPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dsReturn">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="dtOut">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CallDirectSQL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strSQL" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CallDirectSQLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CallDirectSQLResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CallView">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iViewType" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strFieldNames" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhere" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CallViewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CallViewResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CallSPSoapIn">
    <wsdl:part name="parameters" element="tns:CallSP" />
  </wsdl:message>
  <wsdl:message name="CallSPSoapOut">
    <wsdl:part name="parameters" element="tns:CallSPResponse" />
  </wsdl:message>
  <wsdl:message name="CallDirectSQLSoapIn">
    <wsdl:part name="parameters" element="tns:CallDirectSQL" />
  </wsdl:message>
  <wsdl:message name="CallDirectSQLSoapOut">
    <wsdl:part name="parameters" element="tns:CallDirectSQLResponse" />
  </wsdl:message>
  <wsdl:message name="CallViewSoapIn">
    <wsdl:part name="parameters" element="tns:CallView" />
  </wsdl:message>
  <wsdl:message name="CallViewSoapOut">
    <wsdl:part name="parameters" element="tns:CallViewResponse" />
  </wsdl:message>
  <wsdl:portType name="BaseInfoServiceSoap">
    <wsdl:operation name="CallSP">
      <wsdl:input message="tns:CallSPSoapIn" />
      <wsdl:output message="tns:CallSPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CallDirectSQL">
      <wsdl:input message="tns:CallDirectSQLSoapIn" />
      <wsdl:output message="tns:CallDirectSQLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CallView">
      <wsdl:input message="tns:CallViewSoapIn" />
      <wsdl:output message="tns:CallViewSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BaseInfoServiceSoap" type="tns:BaseInfoServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CallSP">
      <soap:operation soapAction="http://tempuri.org/CallSP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CallDirectSQL">
      <soap:operation soapAction="http://tempuri.org/CallDirectSQL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CallView">
      <soap:operation soapAction="http://tempuri.org/CallView" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BaseInfoServiceSoap12" type="tns:BaseInfoServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CallSP">
      <soap12:operation soapAction="http://tempuri.org/CallSP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CallDirectSQL">
      <soap12:operation soapAction="http://tempuri.org/CallDirectSQL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CallView">
      <soap12:operation soapAction="http://tempuri.org/CallView" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BaseInfoService">
    <wsdl:port name="BaseInfoServiceSoap" binding="tns:BaseInfoServiceSoap">
      <soap:address location="http://localhost:2053/WeightService.asmx" />
    </wsdl:port>
    <wsdl:port name="BaseInfoServiceSoap12" binding="tns:BaseInfoServiceSoap12">
      <soap12:address location="http://localhost:2053/WeightService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>